<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QrCodeMaker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C8AC56942A485772002F81E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8AC56AA2A485774002F81E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8AC56B42A485774002F81E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
