<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>To create an Event QR Code, please allow Calendar access</string>
	<key>NSCameraUsageDescription</key>
	<string>To scan codes please allow Camera access</string>
	<key>NSContactsUsageDescription</key>
	<string>To save this contact, please allow this app Contacts access</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Will you allow this app to always know your location?</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Will you allow this app to always know your location?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Do you allow this app to know your current location?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To scan codes from images please allow Photos access</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>To create an event, please allow Calendar usage access</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
