<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>EAN-13</string>
	<string>EAN-8</string>
	<string>UPC-A</string>
	<string>UPC-E</string>
	<string>Code 39</string>
	<string>Code 128</string>
	<string>ITF</string>
	<string>Data Matrix</string>
	<string>Aztec</string>
	<string>PDF417</string>
	<string></string>
	<string></string>
</array>
</plist>
